<!DOCTYPE html>
<html>
<body>

<div class="w3-container w3-teal">
  <h1>Upload a photo</h1>
</div>

<form action="upload" method="post" enctype="multipart/form-data"
      class="w3-container" style="width:100%">
  <p><label>Title</label></p>
  <input name="title" type="text" required>
  <p><label>Description</label></p>
  <input name="description" type="text" required>
  <p><label>Photo</label></p>
  <input name="filetoupload"type="file"> 

  <button> Upload </button></p>
</form>

</body>
</html>

